<!DOCTYPE html>
<html>
<head>
 <title>Home page</title>
 <meta name="google-signin-client_id" content="31659017829-a43c2oe5bsvjgb993e3hkmsc2ch6i30h.apps.googleusercontent.com">
</head>
<body>
<p align="center"><a href=autonomus><button class=grey style="height:75px;width:150px">Autonomus</button></a></p><br><br>
<br><br>
<p align="center"><a href=training><button class=grey style="height:75px;width:150px">Training</button></a></p>
<script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
  </script>
<p align="right"> <a href=homego><button onclick="signOut();" class=grey style="height:50px;width:75px">Sign out</button></a></p>

  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>
</html>
