<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    </head>

    <body>
            <form>
            <div class="rangeslider" style="float:left; margin: 16px;">
                <img src="/static/steering.png" id="steering" alt="Steering Image"><br>

                <input type="range" min="1" max="50" value="25" class="myslider" id="sliderRange" style="width: 100%;"><br>
                <center><input type="text" value="25" name="sliderValue" id="sliderValue" style="text-align: center;"></center>
            </div>
            <center><div style="float:left; width: 10%; margin: 16px;">
                <p align="center">
                <input type="button" value="forward" onmousedown="mDown1()" onmouseup="mUp1()">
                </p><br>
                <p align="center"> <input type="button" value="backward" onmousedown="mDown2()" onmouseup="mUp2()">
                </p><br>
                <p align="center"> <input type="button" value="stop" onmousedown="mDown3()" onmouseup="mUp3()">
                </p>
            </div></center>
            </form>

        <script>
        const sio = io();
        sio.on('connect',() => {
            console.log("connected")
        });

        sio.on('disconnect',() => {
            console.log("disconnected")
        });
        var rangeslider = document.getElementById("sliderRange");
                    var current;


            rangeslider.oninput = function() {
                current = this.value;
                document.getElementById("sliderValue").value = current;
                var steering = document.getElementById('steering');
                var steerAngle = 90/25;
                if (current < 25) {
                    steering.style.transform = 'rotate(-' + String(steerAngle * (25 - current)) + 'deg)'
                }
                else if (current > 25) {
                    steering.style.transform = 'rotate(' + String(steerAngle * (current - 25)) + 'deg)'
                }
                else {
                    steering.style.transform = 'rotate(0deg)'
                }

                sio.send(current);

            }

            rangeslider.onchange = function() {
                current = 25;
                document.getElementById("sliderValue").value = current;
                document.getElementById("sliderRange").value = current;
                var steering = document.getElementById('steering');
                steering.style.transform = 'rotate(0deg)'
                var cur = current.toString();
                sio.send(cur);
            }

            var a = 1;
            var btnDown1 = false;
            function mDown1() {
                btnDown1 = true;
            }
            function mUp1() {
                btnDown1 = false;
            }
            function test() {
                if (btnDown1) {
                    var val = "forward";
                    console.log(val)
                    sio.send(val);
                }
            }
            setInterval(test, 100);

</script>
 <script>
            var a = 1;
            var btnDown2 = false;
            function mDown2() {
                btnDown2 = true;
            }
            function mUp2() {
                btnDown2 = false;
            }
            function test() {
                if (btnDown2) {
                    var val = "backward";
                    console.log(val)
                    sio.send(val);
                }
            }
            setInterval(test, 100);

    </script>
     <script>
            var a = 1;
            var btnDown3 = false;
            function mDown3() {
                btnDown3 = true;
            }
            function mUp3() {
                btnDown3 = false;
            }
            function test() {
                if (btnDown3) {
                    var val = "stop";
                    console.log(val)
                    sio.send(val);
                }
            }
            setInterval(test, 100);
        </script>
</body>
</html>
